/* src/input.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.btn1 {
    @apply hover:bg-gradient-to-r hover:from-sky-400 hover:to-emerald-600 hover:rounded-lg p-2
  }

.horloge__hours,
.horloge__minutes,
.horloge__seconds {
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.horloge_ds {
  @apply text-[400px] bg-gray-200
}
