/* src/input.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.btn1 {
    @apply hover:bg-gradient-to-r hover:from-sky-400 hover:to-emerald-600 hover:rounded-lg p-2
  }

.horloge__hours,
.horloge__minutes,
.horloge__seconds {
  /* font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal; */

  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.horloge_ds {
  @apply text-[350px] bg-gray-200;
}


.hover__menu__item {
  @apply hover:bg-gray-600 hover:text-white hover:px-8 hover:py-2  hover:rounded-3xl transition-all duration-300 ease-in-out transform hover:scale-105;
}

.hover__menu__item__active {
  @apply bg-gray-600 text-white px-8 py-2  rounded-3xl;
}